@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --yellow-700: rgb(148, 119, 64);
  --turquoise: #8A9287;
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";

  --color-background: oklch(0.1 0.015 250);
  --color-foreground: white;

  --color-card: oklch(0.16 0.02 250);
  --color-destructive: oklch(0.5 0.2 25);
  --color-destructive-foreground: oklch(0.95 0.005 250);

  --color-yellow-700: var(--yellow-700);
  --color-turquoise: var(--turquoise);
}

@layer base {
  * {
    @apply border-white/10 outline-white/10;
  }
  body {
    @apply bg-background text-foreground;
  }
}
