@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --terracota: rgb(197, 153, 111);
  --yellow-700: rgb(148, 119, 64);
  --turquoise: #8A9287;
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-basic: "Basic", "Basic Fallback";

  --color-background: oklch(0.1 0.015 250);
  --color-foreground: white;

  --color-card: oklch(0.16 0.02 250);
  --color-destructive: oklch(0.5 0.2 25);
  --color-destructive-foreground: oklch(0.95 0.005 250);

  --color-yellow-700: var(--yellow-700);
  --color-terracota: var(--terracota);
  --color-turquoise: var(--turquoise);
}

@layer base {
  * {
    @apply border-white/10 outline-white/10;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
  }

  /* For Firefox */
  .scrollbar-custom {
    scrollbar-width: thin;
  }

  .fondo {
    background-image: linear-gradient(180deg,oklch(0% 0 0 / 0.35), oklch(0% 0 0 / 0.55)), url('/fondo.jpg');
    background-size: cover;
    background-position: center;
  }
}